* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #242424;
  color: #ffffff;
    background-color: #242424;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%2302061e' fill-opacity='.1'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    font-size: 16px;
    font-family: Noto Sans;
    width: 90%;
    margin: auto;
}
.nav-menu a {
  color: #ffffff;
  text-decoration: none;
}
a {
  color: #ffffff;
  text-decoration: none;
}


.nav-main ul li {
  list-style: none;
}

.container .nav-main .nav-brand .nav-menu {
  width: 90%;
  margin: auto;
}
/* Navigation */
.nav-main {
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 20px;
}
.nav-brand {
  width: 50px;
}

/* Nav Left*/
.nav-main ul {
  display: flex;

}

.nav-main ul li {
  padding: 24px;
}


.nav-main ul.nav-menu {
  flex: 1;
  margin-left: 40px;
}


.nav-menu li a:hover {
  border-bottom: 2px solid #5cc;
  color: #5dd;
      -webkit-transition: 900ms ease;
  -o-transition: 900ms ease;
  -transition: 900ms ease;
}
.nav-menu li .btn-Departamentos:hover {
  border-bottom: transparent;
}
.nav-menu-right li a:hover{
  color:  #5dd;
  transition: 1,5s;
}
.nav-menu li .btn-Departamentos.color{
  color: #4dd;
  transition: 4s;
}
.nav-main ul li a {
  padding: 2px;
}
.menu-btn {
  position: absolute;
  cursor: pointer;
  top: 15px;
  right: 30px;
  z-index: 2;
  font-size: 1.5rem;
  display: none;
}

/*TRADEMARKS*/
.btn-trade__marks {
  border: 1px solid transparent;
  cursor: default;
}
.btn-trade__marks i {
margin-left: 24px;
position: relative;
bottom: 1px;
}
/*GRID*/
.contenedor-grid {
  position: relative;
}

.grid {
  display: none;
}
.grid.activo{
  width: 100%;
  display: none;
  position: absolute;
  top: 1px;
  z-index: 1000;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "categorias subcategorias subcategorias subcategorias";
}
.grid.activo {
  display: grid;
}

.grid::before {
  content: "";
  display: block;
  background: transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
  position: absolute;
  top: -5px;
  left: 160px;
}

.grid > div {
  background: #A1FFCEaa;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #FAFFD1aa, #A1FFCEa);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #FAFFD1aa, #A1FFCEaa); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 0px 3px 6px rgba(0,0,0,.10);
  border-bottom: 3px solid #4dd7;
  border-top: 3px solid #4dd6;
}
/* Categorias */
/* ------------------------- */

.grid .btn-regresar, .categorias .btn-regresar {
  background: #232F3E;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 3px;
  margin: 20px;
  font-size: 16px;
  cursor: pointer;
  display: none;
}

.grid .btn-regresar i, .categorias .btn-regresar i {
  margin-right: 10px;
}

.grid .categorias {
  grid-area: categorias;
  padding-top: 10px;
  min-height: 300px;
  overflow: auto;
}

.grid .categorias .subtitulo {
  display: none;
}

.grid .categorias a {
  color: #000;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.grid .categorias a i {
  display: none;
}

.grid .categorias a:hover {
  color: #E47911;
  font-weight: bold;
}

.grid .categorias a:hover i {
  display: inline-block;
}

.grid .enlaces-subcategoria img {
  display: block;
  height: 100%;
  opacity: .9;
  padding-bottom: 78px;
box-shadow: 0px 3px 6px rgba(0,0,0,.10);
}
.grid .enlaces-subcategoria .reading {
  text-transform: unset;
  letter-spacing: 0.30em;
  justify-content: center;
  padding: 15px 20px;
  color: #363636;
  font-weight: bold;
  cursor: pointer;
background: #30a683;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #24243e, #30a683);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #30a683, #24243e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-size: 13px;
  border: 2px solid #bdffff;
  margin: 30px 15px;
  margin-top: 10px; 
}

.grid .enlaces-subcategoria .reading:hover {
  opacity: .7;
  color: #000;
  border: 2px solid #222222;
  transition: 2s;
 background:  background: #262626;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24243e77, #302b63, #0f0c29cc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
font-style: bold;
  -webkit-transition: 2500ms ease;
  -o-transition: 2500ms ease;
  -transition: 3000ms ease;
  text-transform: bold;
}



.contenedor-subcategorias h3,  a {
  color: #fff;
}
/*Subcategorias CSS*/
.grid .contenedor-subcategorias {
  grid-area: subcategorias;
}

.grid .subcategoria {
  display: none;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  height: 100%;
}

.grid .subcategoria.activo {
  display: grid;
}

.grid .subcategoria img {
  width: 100%;
  vertical-align: top;
  height: 100%;
  object-fit: cover;
}

.grid .enlaces-subcategoria {
  /*padding-top: 10px; */
  height: 100%;
  max-height: 300px;
}

.grid .enlaces-subcategoria a {
  color: #000;
  display: block;
  font-size: 14px;
  padding: 10px 20px;
}

.grid .enlaces-subcategoria a:hover {
  color: #E47911;
  text-shadow: 1px 1px 1px #48270444;
}

.grid .subtitulo {
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 2px;
  padding: 10px 30px;
  color: #e47911;
  text-shadow: 1px 1px 1px #482704cc
}

.grid .banner-subcategoria a {
  display: block;
  height: 100%;
  opacity: .9;
}
.grid .galeria-subcategoria {
  display: flex;
  flex-wrap: wrap;
  align-content: start;
}
.grid .galeria-subcategoria img {
 width: 50%;
 height: 50%;
 opacity: .8;
}

/* SHOWCASE*/
hr {
  margin: 10px 0;
  height: 100%;
  border-top: 3px solid #5dd;
  background: #fff;
  
}
.showcase  {
  width: 100%;
  background: url(https://i.pinimg.com/originals/76/f2/3e/76f23ef08dc1ebabf4589ca0daa1fc14.jpg) no-repeat center/cover;
  height: 550px;
  padding: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.btn {
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
  background: #262626;
  color: #fff;
  font-size: 15px;
  border: 1px solid #fff;
  margin: 10px 0;
}
.btn:hover {
  opacity: .7;
    -webkit-transition: 800ms ease;
  -o-transition: 800ms ease;
  -transition: 800ms ease;
}
.showcase h2 , .showcase p {
  margin-bottom: 10px;

}

/*NEWS CARDS*/
.news-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 25px;
  margin: 20px 0;

}
.news-cards img {
  width: 100%;

}
.news-cards h3 {
  font-size: 20px;
  margin: 10px 0;
}
.news-cards a {
  font-family: Dosis, arial, sans-serif;
  padding: 10px 0;
  color: #f2f2f2;
  text-transform: uppercase;
  display: inline-block;
   font-weight: bold;
     -webkit-transition: 500ms ease;
  -o-transition: 500ms ease;
  -transition: 500ms ease;

}

.news-cards a:hover {
  text-decoration: underline;
  color: #90EECCFF;
  opacity: 0.7;
  transition: 2s;
}


/*CARDS BANNER ONE*/
.cards-banner-one {
  width: 100%;
  height: 350px;
  background: url(img/banner.jpg) no-repeat center/cover;
  margin-bottom: 40px;

}
.cards-banner-one .content {
  width: 40%;
  padding: 50px 0 0 30px;
  color:  #f2f2f2;
}

.cards-banner-one p,
.cards-banner-one h2{
  margin: 10px 0 20px 0;
}

/*CARDS BANNER TWO*/
.cards-banner-two {
  width: 100%;
  height: 350px;
  background: url(img/luces4.jpg) no-repeat center/cover;
  margin-bottom: 40px;

}
.cards-banner-two .content {
  width: 40%;
  padding: 50px 0 0 30px;
  color:  #f2f2f2;
}

.cards-banner-two p,
.cards-banner-two h2{
  margin: 10px 0 20px 0; 
}

/*.notices*/
.notices_tittle {
  margin-bottom: 15px;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.5em;
    line-height: 1.4;
}
.notices_tittle {
    font-family: Dosis, arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-align: justify;
     }

.notices {
  display: flex;
  margin: 0 0;
  padding: 0px;
}
.notices div {
  padding-right: 12px;
}
.notices img {
    width: 345px;
    height: auto;
    margin-bottom: 40px;
    margin-right: 40px;
    border-bottom: 3px solid #aaff7b;
    border-left: 3px solid #121212;
    border-right: 3px solid #121212;

}
.notices h3 {
  font-size: 20px;
  margin: 10px 0;
}

.notices .btn2 {
  font-family: Dosis, arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  text-align: justify;
  padding: 5px 7px;
  color: #363636;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  border: 0;
  background: #aaff7c;
  font-size: 13px;
  border: 2px solid #fff;
  margin: 10px 0;
  -webkit-transition: 500ms ease;
  -o-transition: 500ms ease;
  -transition: 500ms ease;
}

.notices .btn2:hover {
  opacity: .7;
  color: #000;
  transition: 2s;
  background: #aafccc;

}

/*Social e links*/

.social {
  margin: 50px;

}
.social p {
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
}
.links {
  display: flex;
  align-items: center;
  justify-content: center;

}
.links a {
  margin: 0 30px;

}
.links a i {
  font-size: 3rem;
}
.links a i:hover {
  color: #eeaaee;
  opacity: .7;
  transition: 1.8s;
  text-shadow: 20px 10px #eefeee;
}

/* Links */
.footer-links {
  background: #2f3640;
  color: #616161;
  font-size: 12px;
  padding: 35px 0;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
}

.footer-container ul {
  margin: 0 auto;
}

.footer-links li {
  line-height: 2.8;
}

.footer {
  background: #2f3640;
  color: #616161;
  font-size: 12px;
  padding: 20px 0;
  text-align: center;
  font-size: 1rem;
  padding-bottom: 20px;
}



.footer-links h3:hover {
  color: #15ddff;
  transition: 2s;
  opacity: .87;
}

/*responsive trademarks*/
@media screen and (max-width: 1000px) {
  .grid  {
    width: 100%;
    padding: 0 10px;
  }
}
/* Mobil */

@media (max-width: 900px) {

  .menu-btn {
    display: block;
  }
  .menu-btn:hover{
    color:  #5dd;
    transition: 2,5s;
  }

  .nav-main ul.nav-menu {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
      background-color: #122424;
    width: 200px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%2302061e' fill-opacity='.1'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    height: 100%;
    transform: translate(-400px);
    transition: transform .5s ease-in-out;
    padding: 30px;
    opacity: .9;
    border-bottom: 3px solid #3dd;
    border-right:2px solid #3dd;
    
  }

  .nav-main ul.nav-menu.show {
    transform: translateX(-20px);
  }


  .nav-main ul.nav-menu li{
    padding: 20px;
    border-bottom: 1px solid #3ff;
    font-size: 14px;
  }

  .nav-main ul.nav-menu-right {
    margin-right: 40px;
  }
  .news-cards {
    grid-template-columns: repeat(2,1fr);
  }


.grid {
  display: grid;
  transition: 3s ease all;
  transform: translateX(-100%); 
  z-index: 3000;
  width: 80%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  grid-template-areas: "categorias categorias categorias categorias";
}
.grid.activo {
  transform: translateX(0);
  display: grid;
  transition: 3s ease all; 
  z-index: 3000;
  width: 80%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  grid-template-areas: "categorias categorias categorias categorias";
}

.grid::before {
  display: none;
}
.nav-menu a i {
  display: none;
}
.grid .enlaces a {
  display: block;
  margin: 10px 0;
  padding: 10px;
}

.grid .btn-regresar, .categorias .btn-regresar {
  display: inline-block;
}
.grid .categorias .subtitulo {
  display: block;
}
.grid .contenedor-subcategorias {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  transition: .5s
}
.grid .contenedor-subcategorias.activo {
  transform: translateX(0);
  transition: .5s ease all;
  overflow: auto;
}

 .grid .contenedor-subcategorias .subcategoria {
  grid-template-columns: 1fr;
 }
.grid .contenedor-subcategorias .banner-subcategoria {
  width: 100%;
  min-height: 200px;
  max-height: 250px;
  opacity: 1;
  padding-bottom: -10px;
}

.grid .enlaces-subcategoria img {
  display: block;
  height: 80%;
  opacity: .9;
box-shadow: 0px 3px 6px rgba(0,0,0,.10);
}
.grid .contenedor-subcategorias .enlaces-subcategoria {
  min-height: 40vh;
}
.grid .contenedor-subcategorias .galeria-subcategoria img {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.grid > div {
  background: #071624;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #FAFFD1bb, #A1FFCEbb);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #FAFFD1aa, #071624); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 0px 3px 6px rgba(0,0,0,.10);
  border-bottom: 3px solid #071624;
  border-top: 3px solid #071624;
  border-right: 1px solid #061623;
}


 /* NOTICIES */

.notices{
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 25px;
  }
  .notices img {
    width: 100%;
  }

 
  .cards-banner-one .content,
  .cards-banner-two .content {
    width: 80%;
  }
  .footer-links .footer-container {
    grid-template-columns: repeat(2,1fr);
  }

}

@media (max-width: 500px) {

  .news-cards, .notices {
    display: flex;
    flex-direction: column;
    min-width: 50%;
    }

  .cards-news-one .content, .cards-news-two .content {
    width: 100%;
    padding: 60px 20px;
  }
  .footer-links .footer-container {
    grid-template-columns: 1fr;
  }

/*Social */

.social p {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}
.links {
  display: flex;
  align-items: center;
  justify-content: center;

}
.links a {
  margin: 0 20px;

}
.links a i {
  font-size: 3rem;
}
.links a i:hover {
  color: #eeaaee;
  opacity: .7;
  transition: 1.8s;
  text-shadow: 20px 10px #eefeee;
}

/*TRADEMARKS BOTTOM*/
